In [17]:
pip install cProfile

Note: you may need to restart the kernel to use updated packages.

ERROR: Could not find a version that satisfies the requirement cProfile (from versions: none)
ERROR: No matching distribution found for cProfile

[notice] A new release of pip is available: 24.0 -> 24.1.2
[notice] To update, run: python.exe -m pip install --upgrade pip

# Zadanie 1
Wnioski po wykonaniu:
1. gdy ustawimy mały 'threshold', to na pierwszym miejscu dla każdej liczby filmów jest USA
2. gdy zwiększymy 'threshold', na pierwszym miejscu jest Turcja, wysoko są Indie, Japonia i Włochy
3. Francja jest tym wyżej w rankingu im więcej filmów bierzemy pod uwagę
4. Iran wypada z rankingu, gdy liczba filmów rośnie

# Zadanie 2
Potrzeba wykonać jeszcze krótką analizę wyników - poniżej:

In [7]:
import pandas as pd
file = "task2_gdp.csv"
df = pd.read_csv(file, delimiter=';', index_col=0)

Kraje - hegemoni pod względem "strong cinematic impact"

In [8]:
df.sort_values(by="strong impact", ascending=False).head()

         weak impact  strong impact
Croatia           43             74
Iceland           89             74
Hungary           44             47
Romania           29             37
Finland           30             35

Kraje - hegemoni pod względem "weak cinematic impact"

In [9]:
df.sort_values(by="weak impact", ascending=False).head()

                    weak impact  strong impact
Iceland                      89             74
Hungary                      44             47
Croatia                      43             74
Finland                      30             35
Iran, Islamic Rep.           29             31

Kraje, które w obu parametrach są na plus

In [11]:
df.loc[(df["weak impact"] > 0) & (df["strong impact"] > 0)]

                      weak impact  strong impact
Brazil                          7              6
Croatia                        43             74
Denmark                        10             19
Finland                        30             35
Hong Kong SAR, China           21             16
Hungary                        44             47
Iceland                        89             74
India                           2              3
Iran, Islamic Rep.             29             31
Norway                         22             18
Philippines                     9             14
Romania                        29             37
South Africa                   27             20
Sweden                          4             10
United Arab Emirates           25             25

Kraje, które w obu parametrach są na zero lub minus

In [13]:
df.loc[(df["weak impact"] <= 0) & (df["strong impact"] <= 0)]

                weak impact  strong impact
Canada                  -17            -12
China                   -24            -29
France                   -5            -18
Germany                 -16            -18
Italy                   -22             -9
Japan                    -4             -5
Mexico                  -10             -6
Netherlands             -14             -7
Spain                    -1            -12
United Kingdom          -17            -20
United States             0            -28

Kraje, które mają "strong cinematic impact" dodatni, a "weak" zero lub ujemny

In [14]:
df.loc[(df["weak impact"] <= 0) & (df["strong impact"] > 0)]

         weak impact  strong impact
Israel            -1             17
Poland            -7             11
Turkiye           -3             11

# Zadanie 3
Odpowiadamy na pytanie, czy wśród reżyserów urodzonych po ustalonym roku, którzy wciąż żyją oraz którzy są znani z co najmniej pewnej ustalonej liczby filmów, lepsze średnie oceny mają ci, którzy są również aktorami.

In [16]:
pd.read_csv("task3.csv", delimiter=";", index_col=0).round(2)

               isActor       mean        std
stat
averageRating    False       6.62       0.71
averageRating     True       6.63       0.71
numVotes         False  198650.57  150673.17
numVotes          True  190081.87  152929.19

Patrząc na tabelę, różnice są minimalne. Najpewniej fakt bycia aktorem nie wpływa na jakość bycia reżyserem.