In [3]:
from importlib import reload
import load_data
reload(load_data)
from load_data import *

In [6]:
url = "https://datasets.imdbws.com/"
filenames = ["name.basics.tsv.gz",
             "title.akas.tsv.gz",
             "title.basics.tsv.gz",
             "title.crew.tsv.gz",
             "title.episode.tsv.gz",
             "title.principals.tsv.gz",
             "title.ratings.tsv.gz"
]

output_paths = download_file(url, filenames, "data/")

# Pierwszy rzut oka na dane

Pierwsza ramka:

In [ ]:
path_to_file = "data/name.basics.tsv.gz"
df = load_to_dataframe(path_to_file)

In [ ]:
df.head()

In [8]:
df.shape

(13583187, 6)

In [9]:
df.columns

Index(['nconst', 'primaryName', 'birthYear', 'deathYear', 'primaryProfession',
       'knownForTitles'],
      dtype='object')

Druga ramka:

In [ ]:
path_to_file = "data/title.akas.tsv.gz"
df = load_to_dataframe(path_to_file)

In [11]:
df.head()

,titleId,ordering,title,region,language,types,attributes,isOriginalTitle
0,tt0000001,1,Carmencita,\N,\N,original,\N,1
1,tt0000001,2,Carmencita,DE,\N,\N,literal title,0
2,tt0000001,3,Carmencita,US,\N,imdbDisplay,\N,0
3,tt0000001,4,Carmencita - spanyol tánc,HU,\N,imdbDisplay,\N,0
4,tt0000001,5,Καρμενσίτα,GR,\N,imdbDisplay,\N,0

In [12]:
df.shape

(48657469, 8)

In [13]:
df.columns

Index(['titleId', 'ordering', 'title', 'region', 'language', 'types',
       'attributes', 'isOriginalTitle'],
      dtype='object')

In [21]:
df_with_original_titles = df.loc[:, ['titleId', 'ordering', 'title', 'region', 'isOriginalTitle']].query("isOriginalTitle == 1")
df_without_original_titles = df.loc[:, ['titleId', 'ordering', 'title', 'region', 'isOriginalTitle']].query("isOriginalTitle == 0")

In [32]:
df_with_original_titles.replace(to_replace=r"\N", value="NaN")

,titleId,ordering,title,region,isOriginalTitle
0,tt0000001,1,Carmencita,NaN,1
8,tt0000002,1,Le clown et ses chiens,NaN,1
16,tt0000003,1,Pauvre Pierrot,NaN,1
25,tt0000004,1,Un bon bock,NaN,1
33,tt0000005,1,Blacksmith Scene,NaN,1
...,...,...,...,...,...
48657442,tt9916848,1,Episode #3.17,NaN,1
48657450,tt9916850,1,Episode #3.19,NaN,1
48657458,tt9916852,1,Episode #3.20,NaN,1
48657466,tt9916856,1,The Wind,NaN,1
48657468,tt9916880,1,Horrid Henry Knows It All,NaN,1

Trzecia ramka:

In [ ]:
path_to_file = "data/title.basics.tsv.gz"
df = load_to_dataframe(path_to_file)
print(df.head())

Czwarta ramka:

In [ ]:
path_to_file = "data/title.crew.tsv.gz"
df = load_to_dataframe(path_to_file)
print(df.head())

Piąta ramka:

In [ ]:
path_to_file = "data/title.episode.tsv.gz"
df = load_to_dataframe(path_to_file)
print(df.head())

Szósta ramka:

In [ ]:
path_to_file = "data/title.principals.tsv.gz"
df = load_to_dataframe(path_to_file)
print(df.head())

Siódma ramka:

In [ ]:
path_to_file = "data/title.ratings.tsv.gz"
df = load_to_dataframe(path_to_file)
print(df.head())