In [93]:
from importlib import reload

import task1
reload(task1)
from task1 import *

import task2
reload(task2)
from task2 import *

import countries as ct

path1="data/title.akas.tsv.gz"
path2="data/title.basics.tsv.gz"
path3="data/title.ratings.tsv.gz"

# Results:

In [98]:
ha = hegemonyAnalysis(path1, path2, path3, K = 10000, verbose = True)

Loading data...

c:\Users\priva\OneDrive\Desktop\STUDIA\Narzędzia Informatyczne w Pythonie wspierające Analizę Danych\Projekt zaliczeniowy\load_data.py:25: DtypeWarning: Columns (4) have mixed types. Specify dtype option on import or set low_memory=False.
  return pd.read_csv(path_to_file,

Done!
Preprocessing... Done!
Computing cinematic impacts... Done!
Computing hegemony dataframes... Analyzing gdp...
Country 'Afghanistan' not found in gdp World Bank Database.
Analyzing population...
Analyzing gdp pc...
Country 'Afghanistan' not found in gdp pc World Bank Database.
Done!

In [96]:
ha

{'GDP':                           weak impact strong impact
 Albania                            59            89
 Argentina                         -28           -19
 Australia                         -35           -33
 Austria                           -38           -26
 Bangladesh                        -12            30
 Belgium                           -26           -32
 Brazil                            -15            -5
 Canada                            -24           -44
 China                             -27           -55
 Croatia                            48            44
 Cyprus                             99            55
 Denmark                            20             8
 Ecuador                             8            -3
 El Salvador                        49            39
 Ethiopia                           21            23
 Finland                            30            34
 France                            -14           -33
 Georgia                            64            92
 Germany                           -27           -40
 Greece                            -11            -9
 Honduras                           44            36
 Hong Kong                           7            11
 Hungary                            33            31
 Iceland                            84            55
 India                              -6             0
 Indonesia                           7           -20
 Iran, Islamic Republic of          11            19
 Israel                            -12             6
 Italy                             -27           -36
 Japan                             -14           -12
 Latvia                             81            34
 Lithuania                          65            74
 Mexico                            -21           -11
 Netherlands                       -30           -22
 Norway                             19            -6
 Pakistan                          -13            34
 Philippines                       -12             0
 Poland                             -5             3
 Portugal                           41            39
 Romania                            27            37
 Saudi Arabia                      -44           -11
 Serbia                             30            60
 Sierra Leone                      150           149
 Singapore                         -29           -20
 Slovakia                           56            12
 Somalia                           117           116
 South Africa                       35             8
 South Korea                        -5           -12
 Spain                             -26           -43
 Sweden                            -14           -21
 Thailand                          -19           -33
 Timor-Leste                       157           153
 Turkey                            -13           -17
 United Arab Emirates               27            26
 United Kingdom                    -31           -47
 United States                       0           -55
 Viet Nam                          -28            14,
 'Population':                           weak impact strong impact
 Afghanistan                        26            28
 Albania                            85           115
 Argentina                         -17            -8
 Australia                           7             9
 Austria                            34            46
 Bangladesh                        -36             6
 Belgium                            31            25
 Bhutan                            103           126
 Brazil                            -17            -7
 Canada                              3           -17
 China                             -27           -55
 Croatia                           102            98
 Cyprus                            155           111
 Denmark                            98            86
 Ecuador                            13             2
 El Salvador                        59            49
 Ethiopia                          -25           -23
 Finland                            99           103
 France                              1           -18
 Georgia                            87           115
 Germany                           -11           -24
 Greece                             25            27
 Honduras                           31            23
 Hong Kong                          71            75
 Hungary                            73            71
 Iceland                           156           127
 India                             -10            -4
 Indonesia                          -5           -32
 Iran, Islamic Republic of          -8             0
 Israel                             54            72
 Italy                             -10           -19
 Japan                              -6            -4
 Latvia                            135            88
 Lithuania                         123           132
 Mexico                            -23           -13
 Netherlands                        22            30
 Norway                            105            80
 Pakistan                          -52            -5
 Philippines                       -32           -20
 Poland                             15            23
 Portugal                           82            80
 Romania                            49            59
 Saudi Arabia                      -23            10
 Serbia                             57            87
 Sierra Leone                       95            94
 Singapore                          55            64
 Slovakia                          114            70
 Somalia                            40            39
 South Africa                       19            -8
 South Korea                        10             3
 Spain                             -10           -27
 Sweden                             50            43
 Thailand                          -26           -40
 Timor-Leste                       148           144
 Turkey                            -13           -17
 United Arab Emirates               94            93
 United Kingdom                    -16           -32
 United States                       2           -53
 Viet Nam                          -46            -4,
 'GDP PC':                           weak impact strong impact
 Albania                            31            61
 Argentina                          17            26
 Australia                         -38           -36
 Austria                           -52           -40
 Bangladesh                         94           136
 Belgium                           -34           -40
 Brazil                             56            66
 Canada                            -18           -38
 China                              42            14
 Croatia                            27            23
 Cyprus                             28           -16
 Denmark                            -7           -19
 Ecuador                            47            36
 El Salvador                        59            49
 Ethiopia                          128           130
 Finland                            -3             1
 France                              3           -16
 Georgia                            45            73
 Germany                           -12           -25
 Greece                            -18           -16
 Honduras                           77            69
 Hong Kong                         -12            -8
 Hungary                            29            27
 Iceland                           -13           -42
 India                             130           136
 Indonesia                         105            78
 Iran, Islamic Republic of          91            99
 Israel                            -21            -3
 Italy                              -9           -18
 Japan                              14            16
 Latvia                             32           -15
 Lithuania                          30            39
 Mexico                             32            42
 Netherlands                       -36           -28
 Norway                             -8           -33
 Pakistan                          104           151
 Philippines                        80            92
 Poland                             26            34
 Portugal                           35            33
 Romania                            41            51
 Saudi Arabia                      -22            11
 Serbia                             25            55
 Sierra Leone                      180           179
 Singapore                         -54           -45
 Slovakia                           40            -4
 Somalia                           152           151
 South Africa                       98            71
 South Korea                        15             8
 Spain                              -6           -23
 Sweden                            -25           -32
 Thailand                           48            34
 Timor-Leste                       148           144
 Turkey                             38            34
 United Arab Emirates               15            14
 United Kingdom                    -16           -32
 United States                       5           -50
 Viet Nam                           56            98}

# Thinking:

In [5]:
df, df3 = load_dataframes(path1, path2, path3)
df_analysis = prepareDataset(df, df3)

c:\Users\priva\OneDrive\Desktop\STUDIA\Narzędzia Informatyczne w Pythonie wspierające Analizę Danych\Projekt zaliczeniowy\load_data.py:25: DtypeWarning: Columns (4) have mixed types. Specify dtype option on import or set low_memory=False.
  return pd.read_csv(path_to_file,

In [37]:
K = 10000
df_analysis = df_analysis.loc[df_analysis["numVotes"] > K]

rank_weak = df_analysis.groupby(by="region")["numVotes"].mean().astype(int)
rank_weak.index = [ct.countries[x] for x in rank_weak.index]
rank_weak = list(rank_weak.sort_values(ascending=False).index)
rank_weak

['United States',
 'Brazil',
 'India',
 'Lithuania',
 'United Arab Emirates',
 'South Korea',
 'Portugal',
 'Indonesia',
 'Iran, Islamic Republic of',
 'Japan',
 'Norway',
 'Hungary',
 'Slovakia',
 'France',
 'South Africa',
 'Timor-Leste',
 'Finland',
 'Latvia',
 'Iceland',
 'Romania',
 'Spain',
 'Sierra Leone',
 'Cyprus',
 'Poland',
 'Hong Kong',
 'Somalia',
 'Germany',
 'Sweden',
 'Mexico',
 'Turkey',
 'United Kingdom',
 'Philippines',
 'Virgin Islands, U.S.',
 'Afghanistan',
 'Denmark',
 'China',
 'Canada',
 'Croatia',
 'Italy',
 'Israel',
 'Netherlands',
 'Ecuador',
 'Ethiopia']

In [38]:
df_analysis["score"] = df_analysis["averageRating"] * df_analysis["numVotes"]
rank_strong = df_analysis.groupby(by="region")["score"].sum()/df_analysis.groupby(by="region")["numVotes"].sum()
rank_strong.index = [ct.countries[x] for x in rank_strong.index]
rank_strong = list(rank_strong.sort_values(ascending=False).index)
rank_strong

['Lithuania',
 'India',
 'Brazil',
 'Croatia',
 'United Arab Emirates',
 'Iran, Islamic Republic of',
 'Sierra Leone',
 'Romania',
 'Poland',
 'Turkey',
 'Ecuador',
 'Hungary',
 'Japan',
 'Israel',
 'Virgin Islands, U.S.',
 'Timor-Leste',
 'Finland',
 'Portugal',
 'Norway',
 'Sweden',
 'South Korea',
 'Denmark',
 'Germany',
 'Italy',
 'Mexico',
 'Philippines',
 'Afghanistan',
 'South Africa',
 'Canada',
 'Indonesia',
 'Hong Kong',
 'Netherlands',
 'France',
 'United Kingdom',
 'Somalia',
 'Spain',
 'Cyprus',
 'Slovakia',
 'United States',
 'Iceland',
 'Latvia',
 'China',
 'Ethiopia']

# Collective analysis

In [97]:
country_list = rank_strong.copy()
country_list.extend(rank_weak)
country_list = list(set(country_list))

rank_dict = {}
for indic in ['GDP', 'Population', 'GDP PC']:
    print(f"Analyzing {indic.lower()}...")
    rank_dict[indic] = {}
    rank = WorldBankRank(indic)
    for country in country_list:
        try:
            impact_weak = rank.index(country) - rank_weak.index(country)
            impact_strong = rank.index(country) - rank_strong.index(country)
        except ValueError:
            print(f"Country '{country}' not found in {indic.lower()} World Bank Database.")
            impact_weak = pd.NA
            impact_strong = pd.NA
            
        rank_dict[indic][country] = {'weak impact': impact_weak, 'strong impact': impact_strong}
    rank_dict[indic] = pd.DataFrame.from_dict(rank_dict[indic]).T.dropna().sort_index()

Analyzing gdp...
Country 'Virgin Islands, U.S.' not found in gdp World Bank Database.
Country 'Afghanistan' not found in gdp World Bank Database.
Analyzing population...
Country 'Virgin Islands, U.S.' not found in population World Bank Database.
Analyzing gdp pc...
Country 'Virgin Islands, U.S.' not found in gdp pc World Bank Database.
Country 'Afghanistan' not found in gdp pc World Bank Database.

In [89]:
rank_dict['GDP']

                          weak impact strong impact
Brazil                              7             6
Canada                            -27           -19
China                             -34           -40
Croatia                            37            71
Cyprus                             79            65
Denmark                             0            13
Ecuador                            20            51
Ethiopia                           14            14
Finland                            30            30
France                             -7           -26
Germany                           -24           -20
Hong Kong                          14             8
Hungary                            43            43
Iceland                            85            64
India                               2             3
Indonesia                           8           -14
Iran, Islamic Republic of          27            30
Israel                            -12            14
Italy                             -31           -16
Japan                              -6            -9
Latvia                             77            54
Lithuania                          74            77
Mexico                            -17           -13
Netherlands                       -24           -15
Norway                             20            12
Philippines                         1             7
Poland                             -3            12
Portugal                           41            30
Romania                            23            35
Sierra Leone                      134           149
Slovakia                           47            22
Somalia                           119           110
South Africa                       25            12
South Korea                         8            -7
Spain                              -6           -21
Sweden                             -4             4
Timor-Leste                       149           149
Turkey                            -12             8
United Arab Emirates               24            24
United Kingdom                    -25           -28
United States                       0           -38

# Analysis for GDP

In [64]:
rank_dict = {}
gdp_rank = WorldBankRank("GDP")
for country in country_list:
    try:
        impact_weak = gdp_rank.index(country) - rank_weak.index(country)
        impact_strong = gdp_rank.index(country) - rank_strong.index(country)
    except ValueError:
        print(f"Country '{country}' not found in latest GDP World Bank Database.")
        impact_weak = pd.NA
        impact_strong = pd.NA
        
    rank_dict[country] = {'weak impact': impact_weak, 'strong impact': impact_strong}
    
rank_df = pd.DataFrame.from_dict(rank_dict).T.dropna().sort_index()
rank_df

Country 'Virgin Islands, U.S.' not found in World Bank Database.
Country 'Afghanistan' not found in World Bank Database.

# Analysis for population

In [76]:
rank_dict = {}
for country in country_list:
    try:
        impact_weak = pop_rank.index(country) - rank_weak.index(country)
        impact_strong = pop_rank.index(country) - rank_strong.index(country)
    except ValueError:
        print(f"Country '{country}' not found in latest population World Bank Database.")
        impact_weak = pd.NA
        impact_strong = pd.NA
        
    rank_dict[country] = {'weak impact': impact_weak, 'strong impact': impact_strong}
    
rank_df = pd.DataFrame.from_dict(rank_dict).T.dropna().sort_index()
rank_df

Country 'Virgin Islands, U.S.' not found in latest population World Bank Database.

                          weak impact strong impact
Afghanistan                         2             9
Brazil                              5             4
Canada                              0             8
China                             -34           -40
Croatia                            91           125
Cyprus                            135           121
Denmark                            78            91
Ecuador                            25            56
Ethiopia                          -32           -32
Finland                            99            99
France                              8           -11
Germany                            -8            -4
Hong Kong                          78            72
Hungary                            83            83
Iceland                           157           136
India                              -2            -1
Indonesia                          -4           -26
Iran, Islamic Republic of           8            11
Israel                             54            80
Italy                             -14             1
Japan                               2            -1
Latvia                            131           108
Lithuania                         132           135
Mexico                            -19           -15
Netherlands                        28            37
Norway                            106            98
Philippines                       -19           -13
Poland                             17            32
Portugal                           82            71
Romania                            45            57
Sierra Leone                       79            94
Slovakia                          105            80
Somalia                            42            33
South Africa                        9            -4
South Korea                        23             8
Spain                              10            -5
Sweden                             60            68
Timor-Leste                       140           140
Turkey                            -12             8
United Arab Emirates               91            91
United Kingdom                    -10           -13
United States                       2           -36

# Analysis for GDP P.C.

In [77]:
rank_dict = {}
for country in country_list:
    try:
        impact_weak = gdpPC_rank.index(country) - rank_weak.index(country)
        impact_strong = gdpPC_rank.index(country) - rank_strong.index(country)
    except ValueError:
        print(f"Country '{country}' not found in latest GDP P.C. World Bank Database.")
        impact_weak = pd.NA
        impact_strong = pd.NA
        
    rank_dict[country] = {'weak impact': impact_weak, 'strong impact': impact_strong}
    
rank_df = pd.DataFrame.from_dict(rank_dict).T.dropna().sort_index()
rank_df

Country 'Virgin Islands, U.S.' not found in latest GDP P.C. World Bank Database.
Country 'Afghanistan' not found in latest GDP P.C. World Bank Database.

                          weak impact strong impact
Brazil                             78            77
Canada                            -21           -13
China                              35            29
Croatia                            16            50
Cyprus                              8            -6
Denmark                           -27           -14
Ecuador                            59            90
Ethiopia                          121           121
Finland                            -3            -3
France                             10            -9
Germany                            -9            -5
Hong Kong                          -5           -11
Hungary                            39            39
Iceland                           -12           -33
India                             138           139
Indonesia                         106            84
Iran, Islamic Republic of         107           110
Israel                            -21             5
Italy                             -13             2
Japan                              22            19
Latvia                             28             5
Lithuania                          39            42
Mexico                             36            40
Netherlands                       -30           -21
Norway                             -7           -15
Philippines                        93            99
Poland                             28            43
Portugal                           35            24
Romania                            37            49
Sierra Leone                      164           179
Slovakia                           31             6
Somalia                           154           145
South Africa                       88            75
South Korea                        28            13
Spain                              14            -1
Sweden                            -15            -7
Timor-Leste                       140           140
Turkey                             39            59
United Arab Emirates               12            12
United Kingdom                    -10           -13
United States                       5           -33