In [9]:
from importlib import reload

import task1_work
reload(task1_work)
from task1_work import *

import task2_work
reload(task2_work)
from task2_work import *

import countries as ct

path1="data/title.akas.tsv.gz"
path2="data/title.basics.tsv.gz"
path3="data/title.ratings.tsv.gz"

# Results:

In [4]:
df_analysis, end = prepareDataset2(path1, path2, path3,
                              verbose = True)

Loading data...

c:\Users\priva\OneDrive\Desktop\STUDIA\Narzędzia Informatyczne w Pythonie wspierające Analizę Danych\Projekt zaliczeniowy\load_data.py:25: DtypeWarning: Columns (4) have mixed types. Specify dtype option on import or set low_memory=False.
  return pd.read_csv(path_to_file,

Done!
Preprocessing... Done!

In [10]:
ha = hegemonyAnalysis(df_analysis,
                      end = datetime.now().year,
                      K = 10000, 
                      verbose = True)

Computing cinematic impacts... Done!
Computing hegemony dataframes... Analyzing gdp...
Analyzing population...
Analyzing gdp pc...
Done!

In [8]:
ha

{'GDP':                            weak impact  strong impact
 Brazil                               7              6
 Canada                             -16            -12
 China                              -23            -29
 Croatia                             44             74
 Denmark                             11             19
 Finland                             31             35
 France                              -4            -18
 Germany                            -16            -17
 Hong Kong                           22             16
 Hungary                             45             47
 Iceland                             90             74
 India                                2              3
 Indonesia                           11            -12
 Iran, Islamic Republic of           29             31
 Israel                               0             17
 Italy                              -21             -9
 Japan                               -4             -5
 Mexico                              -9             -6
 Netherlands                        -13             -7
 Norway                              22             18
 Philippines                         10             14
 Poland                              -6             11
 Romania                             30             37
 South Africa                        28             19
 South Korea                          8             -1
 Spain                                0            -12
 Sweden                               6             10
 Turkey                              -2             11
 United Arab Emirates                25             25
 United Kingdom                     -16            -20
 United States                        0            -28,
 'Population':                            weak impact  strong impact
 Brazil                               5              4
 Canada                              11             15
 China                              -23            -29
 Croatia                             98            128
 Denmark                             89             97
 Finland                            100            104
 France                              11             -3
 Germany                              0             -1
 Hong Kong                           86             80
 Hungary                             85             87
 Iceland                            162            146
 India                               -2             -1
 Indonesia                           -1            -24
 Iran, Islamic Republic of           10             12
 Israel                              66             83
 Italy                               -4              8
 Japan                                4              3
 Mexico                             -11             -8
 Netherlands                         39             45
 Norway                             108            104
 Philippines                        -10             -6
 Poland                              14             31
 Romania                             52             59
 South Africa                        12              3
 South Korea                         23             14
 Spain                               16              4
 Sweden                              70             74
 Turkey                              -2             11
 United Arab Emirates                92             92
 United Kingdom                      -1             -5
 United States                        2            -26,
 'GDP PC':                            weak impact  strong impact
 Brazil                              78             77
 Canada                             -10             -6
 China                               46             40
 Croatia                             23             53
 Denmark                            -16             -8
 Finland                             -2              2
 France                              13             -1
 Germany                             -1             -2
 Hong Kong                            3             -3
 Hungary                             41             43
 Iceland                             -7            -23
 India                              138            139
 Indonesia                          109             86
 Iran, Islamic Republic of          109            111
 Israel                              -9              8
 Italy                               -3              9
 Japan                               24             23
 Mexico                              44             47
 Netherlands                        -19            -13
 Norway                              -5             -9
 Philippines                        102            106
 Poland                              25             42
 Romania                             44             51
 South Africa                        91             82
 South Korea                         28             19
 Spain                               20              8
 Sweden                              -5             -1
 Turkey                              49             62
 United Arab Emirates                13             13
 United Kingdom                      -1             -5
 United States                        5            -23}

# Thinking:

In [2]:
df, df3 = load_dataframes(path1, path2, path3)
df_analysis = prepareDataset(df, df3)

c:\Users\priva\OneDrive\Desktop\STUDIA\Narzędzia Informatyczne w Pythonie wspierające Analizę Danych\Projekt zaliczeniowy\load_data.py:25: DtypeWarning: Columns (4) have mixed types. Specify dtype option on import or set low_memory=False.
  return pd.read_csv(path_to_file,

In [3]:
K = 10000
df_analysis = df_analysis.loc[df_analysis["numVotes"] > K]

rank_weak = df_analysis.groupby(by="region")["numVotes"].mean().astype(int)
rank_weak.index = [ct.countries[x] for x in rank_weak.index]
rank_weak = list(rank_weak.sort_values(ascending=False).index)
rank_weak

['United States',
 'Brazil',
 'India',
 'United Arab Emirates',
 'South Korea',
 'Lithuania',
 'Portugal',
 'Indonesia',
 'Iran, Islamic Republic of',
 'Japan',
 'Norway',
 'Slovakia',
 'Hungary',
 'France',
 'South Africa',
 'Timor-Leste',
 'Finland',
 'Latvia',
 'Iceland',
 'Romania',
 'Spain',
 'Poland',
 'Cyprus',
 'Hong Kong',
 'Germany',
 'Sweden',
 'Sierra Leone',
 'Mexico',
 'Turkey',
 'United Kingdom',
 'Philippines',
 'Afghanistan',
 'Denmark',
 'China',
 'Somalia',
 'Canada',
 'Croatia',
 'Italy',
 'Israel',
 'Netherlands',
 'Ethiopia']

In [4]:
df_analysis["score"] = df_analysis["averageRating"] * df_analysis["numVotes"]
rank_strong = df_analysis.groupby(by="region")["score"].sum()/df_analysis.groupby(by="region")["numVotes"].sum()
rank_strong.index = [ct.countries[x] for x in rank_strong.index]
rank_strong = list(rank_strong.sort_values(ascending=False).index)
rank_strong

['Lithuania',
 'India',
 'Brazil',
 'Croatia',
 'United Arab Emirates',
 'Iran, Islamic Republic of',
 'Romania',
 'Poland',
 'Turkey',
 'Hungary',
 'Sierra Leone',
 'Japan',
 'Israel',
 'Timor-Leste',
 'Finland',
 'Portugal',
 'Norway',
 'Sweden',
 'South Korea',
 'Denmark',
 'Germany',
 'Italy',
 'Mexico',
 'Philippines',
 'Afghanistan',
 'South Africa',
 'Canada',
 'Indonesia',
 'Hong Kong',
 'Netherlands',
 'Somalia',
 'France',
 'Cyprus',
 'United Kingdom',
 'Spain',
 'United States',
 'Iceland',
 'Slovakia',
 'Latvia',
 'China',
 'Ethiopia']

# Collective analysis

In [11]:
country_list = rank_strong.copy()
country_list.extend(rank_weak)
country_list = list(set(country_list))

rank_dict = {}
for indic in ['GDP', 'Population', 'GDP PC']:
    print(f"Analyzing {indic.lower()}...")
    rank_dict[indic] = {}
    rank = WorldBankRank(indic)
    for country in country_list:
        try:
            impact_weak = rank.index(country) - rank_weak.index(country)
            impact_strong = rank.index(country) - rank_strong.index(country)
        except ValueError:
            print(f"Country '{country}' not found in {indic.lower()} World Bank Database.")
            impact_weak = pd.NA
            impact_strong = pd.NA
            
        rank_dict[indic][country] = {'weak impact': impact_weak, 'strong impact': impact_strong}
    rank_dict[indic] = pd.DataFrame.from_dict(rank_dict[indic]).T.dropna().sort_index()

Analyzing gdp...
Country 'Afghanistan' not found in gdp World Bank Database.
Analyzing population...
Analyzing gdp pc...
Country 'Afghanistan' not found in gdp pc World Bank Database.

In [12]:
rank_dict['GDP']

                          weak impact strong impact
Brazil                              7             6
Canada                            -26           -17
China                             -32           -38
Croatia                            38            71
Cyprus                             79            69
Denmark                             2            15
Ethiopia                           16            16
Finland                            30            32
France                             -7           -25
Germany                           -22           -18
Hong Kong                          15            10
Hungary                            42            45
Iceland                            85            67
India                               2             3
Indonesia                           8           -12
Iran, Islamic Republic of          27            30
Israel                            -11            15
Italy                             -30           -14
Japan                              -6            -8
Latvia                             77            56
Lithuania                          72            77
Mexico                            -16           -11
Netherlands                       -23           -13
Norway                             20            14
Philippines                         2             9
Poland                             -1            13
Portugal                           41            32
Romania                            23            36
Sierra Leone                      129           145
Slovakia                           48            22
Somalia                           110           114
South Africa                       25            14
South Korea                         9            -5
Spain                              -6           -20
Sweden                             -2             6
Timor-Leste                       149           151
Turkey                            -11             9
United Arab Emirates               25            24
United Kingdom                    -24           -28
United States                       0           -35

# Analysis for GDP

In [64]:
rank_dict = {}
gdp_rank = WorldBankRank("GDP")
for country in country_list:
    try:
        impact_weak = gdp_rank.index(country) - rank_weak.index(country)
        impact_strong = gdp_rank.index(country) - rank_strong.index(country)
    except ValueError:
        print(f"Country '{country}' not found in latest GDP World Bank Database.")
        impact_weak = pd.NA
        impact_strong = pd.NA
        
    rank_dict[country] = {'weak impact': impact_weak, 'strong impact': impact_strong}
    
rank_df = pd.DataFrame.from_dict(rank_dict).T.dropna().sort_index()
rank_df

Country 'Virgin Islands, U.S.' not found in World Bank Database.
Country 'Afghanistan' not found in World Bank Database.

# Analysis for population

In [76]:
rank_dict = {}
for country in country_list:
    try:
        impact_weak = pop_rank.index(country) - rank_weak.index(country)
        impact_strong = pop_rank.index(country) - rank_strong.index(country)
    except ValueError:
        print(f"Country '{country}' not found in latest population World Bank Database.")
        impact_weak = pd.NA
        impact_strong = pd.NA
        
    rank_dict[country] = {'weak impact': impact_weak, 'strong impact': impact_strong}
    
rank_df = pd.DataFrame.from_dict(rank_dict).T.dropna().sort_index()
rank_df

Country 'Virgin Islands, U.S.' not found in latest population World Bank Database.

                          weak impact strong impact
Afghanistan                         2             9
Brazil                              5             4
Canada                              0             8
China                             -34           -40
Croatia                            91           125
Cyprus                            135           121
Denmark                            78            91
Ecuador                            25            56
Ethiopia                          -32           -32
Finland                            99            99
France                              8           -11
Germany                            -8            -4
Hong Kong                          78            72
Hungary                            83            83
Iceland                           157           136
India                              -2            -1
Indonesia                          -4           -26
Iran, Islamic Republic of           8            11
Israel                             54            80
Italy                             -14             1
Japan                               2            -1
Latvia                            131           108
Lithuania                         132           135
Mexico                            -19           -15
Netherlands                        28            37
Norway                            106            98
Philippines                       -19           -13
Poland                             17            32
Portugal                           82            71
Romania                            45            57
Sierra Leone                       79            94
Slovakia                          105            80
Somalia                            42            33
South Africa                        9            -4
South Korea                        23             8
Spain                              10            -5
Sweden                             60            68
Timor-Leste                       140           140
Turkey                            -12             8
United Arab Emirates               91            91
United Kingdom                    -10           -13
United States                       2           -36

# Analysis for GDP P.C.

In [77]:
rank_dict = {}
for country in country_list:
    try:
        impact_weak = gdpPC_rank.index(country) - rank_weak.index(country)
        impact_strong = gdpPC_rank.index(country) - rank_strong.index(country)
    except ValueError:
        print(f"Country '{country}' not found in latest GDP P.C. World Bank Database.")
        impact_weak = pd.NA
        impact_strong = pd.NA
        
    rank_dict[country] = {'weak impact': impact_weak, 'strong impact': impact_strong}
    
rank_df = pd.DataFrame.from_dict(rank_dict).T.dropna().sort_index()
rank_df

Country 'Virgin Islands, U.S.' not found in latest GDP P.C. World Bank Database.
Country 'Afghanistan' not found in latest GDP P.C. World Bank Database.

                          weak impact strong impact
Brazil                             78            77
Canada                            -21           -13
China                              35            29
Croatia                            16            50
Cyprus                              8            -6
Denmark                           -27           -14
Ecuador                            59            90
Ethiopia                          121           121
Finland                            -3            -3
France                             10            -9
Germany                            -9            -5
Hong Kong                          -5           -11
Hungary                            39            39
Iceland                           -12           -33
India                             138           139
Indonesia                         106            84
Iran, Islamic Republic of         107           110
Israel                            -21             5
Italy                             -13             2
Japan                              22            19
Latvia                             28             5
Lithuania                          39            42
Mexico                             36            40
Netherlands                       -30           -21
Norway                             -7           -15
Philippines                        93            99
Poland                             28            43
Portugal                           35            24
Romania                            37            49
Sierra Leone                      164           179
Slovakia                           31             6
Somalia                           154           145
South Africa                       88            75
South Korea                        28            13
Spain                              14            -1
Sweden                            -15            -7
Timor-Leste                       140           140
Turkey                             39            59
United Arab Emirates               12            12
United Kingdom                    -10           -13
United States                       5           -33